body {
    background-color: rgb(87, 104, 87);
    font-size: larger;
}
h1 {
    font-size: xx-large;
    background-color: rgb(151, 197, 147);
}
h2 {
    font-size: larger;
}

.body {
    white-space: pre-wrap;
}
