* {
    align-items: center;
    text-align: center;
}

body {
    text-align: center;
    background-color: rgb(87, 104, 87);
    font-size: larger;
    color: aliceblue;
    padding-inline: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

#header {
    text-align: center;
    color: black;
    font-size: xx-large;
    background-color: rgb(151, 197, 147);
}


h2 {
    font-size: larger;
}
ul {
    border: 2px dotted darkgray;
    float: left;
    text-align: center;
    list-style-type: circle;
}
li {
    float: left;
    padding-bottom: 5px;
}
ul.nav {
    font-size: large;
    float: left;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #75ba80;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.body {
    white-space: pre-wrap;
}

#Intro {
    font-size: larger;
    text-align: center;
    word-wrap: normal;
    padding-bottom: 25px;
}

#sectionTitles {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    border: 5px solid white;
}

#columninfo {
    border: 0px dotted white;
}

.column {
    float: left;
    width: 33.33%
}

.column50 {
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%
    }
}