body {
    text-align: center;
    background-color: rgb(87, 97, 104);
    font-size: larger;
    color: rgb(186, 229, 240);
}

#header {
    text-align: center;
    text-shadow: 4px 4px 5px rgb(147, 148, 197);
    color: rgb(6, 13, 46);
    font-size: 50px;
    background-color: rgb(147, 177, 197);
}

#headerimg {
    float: right;
    width: 500px;
    position: static;
    margin-right: 20px;
    border: 5px solid rgb(147, 177, 197);
}

h2 {
    font-size: larger;
}

ul {
    float: left;
    text-align: center;
    list-style-type: none;
}

li {
    float: left;
    padding-bottom: 5px;
}

ul.nav {
    position: fixed;
    top: 0%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(147, 177, 197);
}


li a {
    border-right: 2px solid rgb(6, 13, 46);
    font-size: 25px;
    display: block;
    text-align: center;
    text-shadow: 4px 4px 5px rgb(147, 148, 197);
    color: rgb(6, 13, 46);
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: white;
    background-color: #111;
}

.body {
    white-space: pre-wrap;
}

#Intro {
    margin-left: 10px;
    width: 70%;
    font-size: 40px;
    text-align: center;
    word-wrap: normal;
    padding-left: 10px;
    padding-bottom: 25px;
}

#sectionTitles {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    border: 10px double rgb(147, 177, 197);
    border-radius: 100px;
}

#columninfo {
    border: 1px solid white;
}

.column {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    float: left;
    width: 49%
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%
    }
}